* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  color: #636363;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  margin: auto;
  max-width: 1199px;
  padding-top: 115px;
}
.content-title span {
  display: inline-block;
  padding: 10px 5px 10px 0;
  font-size: 20px;
}
.content-title span:last-of-type {
  margin-bottom: 20px;
}
.content-title span i {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 100%;
  font-size: 24px;
  margin-right: 10px;

  color: white;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
}

body {
  font-family: "Roboto", Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}
/* START HEADER */
header {
  width: 100%;
  height: 136px;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
}
header .container {
  padding: 0;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.header__list a:hover {
  color: #f55f8d;
}
.header__list li {
  padding: 55px 15px;
}
.header__list li span {
  display: inline-block;
  padding-right: 5px;
}
.header__list li a:hover span {
  animation: upToDown 0.2s forwards;
}
.header__list li a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  font-weight: 500;
  transition: all 0.2s;
}
.button-all {
  width: 173px;
  height: 60px;
  border-radius: 30px;
  margin: auto 20px;
  color: white;
  font-size: 15px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border: none;
  background-size: 200%;
  transition: all 0.5s;
  line-height: 40px;
}
.button-all:hover {
  background-position: right center;
}
/* END HEADER */

/* START carousel */
/* ANIMATION */
.animated-Y{
  opacity: 0;
  animation: moveY 2s ;
  animation-fill-mode: forwards;
}
.animation-1s{
  animation-delay: 1s;
}
.animation-2s{
  animation-delay: 2s;
}
.animation-3s{
  animation-delay: 3s;
}
.animation-4s{
  animation-delay: 4s;
}
.carousel {
  padding-top: 70px;
  width: 100%;
  position: relative;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
  overflow: hidden;
}
.carousel__content {
  display: flex;
}
.content-title {
  width: 60%;
  margin-top: 30px;
}

.content-title > p:first-of-type {
  
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
  margin-top: 30px;
}
.content-title > h1 {
  display: block;
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.content-title > p:last-of-type {
  font-size: 18px;
  margin-bottom: 15px;
}
.content-title > span {
  display: block;
}

.content-right {
  width: 40%;
  position: relative;
}

.content-right img {
  position: absolute;
  top: -40px;
  left: 120px;
  width: 570px;
  height: 600px;
  margin-left: 50px;
  margin-top: 30px;
}
/* END carousel */

/* START service */
.service {
  width: 100%;
  background-image: url(../img/bg2.png);
  background-position-x: 50%;
  background-position-y: 0%;
  background-size: cover;
  height: 745px;
}
.service .content-title {
  display: block;
  text-align: center;
  width: 100%;
}
.service__list{
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.service__list .content__item{
  width: 380px;
  height: 430px;
  padding: 30px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  transition: all .5s;
  text-align: center;
}
.service__list .content__item img{
  width: 215px;
}
.content__item p:first-of-type{
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
.content__item:hover{
  transform: translateY(-20px);
}
/* END service */

/* START about-us */
.animatedX{
  opacity: 0;
  animation: moveX 2s ;
  animation-fill-mode: forwards;

}
.animated-X{
  opacity: 0;
  animation: move-X 2s ;
  animation-fill-mode: forwards;
  animation: name duration timing-function delay iteration-count direction fill-mode;

}
.about-us {
  width: 100%;
  height: 865px;
}
.content-title{
  position: relative;
  width: 50%;
}
.about-us .content-title img{
  position: absolute;
  left: -32%;
  bottom: 50px;
  margin: 0;
  border-radius: 0 100px 100px 0;
  width: 720px;
  height: 480px;
}
.content-right{
  width: 50%;
  height: 665px;
}
.content-right span{
  display: block;
  line-height: 40px;
}
.content-right span i{
  display: inline-block;
  height: 24px;
  line-height: 21px;
  text-align: center;
  border-radius: 100%;
  font-size: 15px;
  margin-right: 10px;
  color: #f55f8d;
  border: 2px solid #f55f8d;
  width: 24px;
}
.about-us .content-right p:first-of-type {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
  margin-top: 30px;
}
.about-us .content-right h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  
  margin-bottom: 20px;
}
.about-us .content-right p:last-of-type {
  font-size: 18px;
  margin-bottom: 15px;
}
.about-us .content-right .button-all{
  margin: 0;
  margin-top: 30px;
}
/* END about-us */

/* start number */
.number{
  height: 328px;
  background-image: url(../img/bg14.png);
}

.number .container{
  padding: 80px 0 50px 0;
  width: 100%;
}
.number .number__item i{
  font-size: 45px;
  background-size: 200%;
  color: white;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
} 
.number__item p:first-of-type{
  font-size: 65px;
  color: #f55f8d;
  line-height: 1;
  font-weight: 800;
}
.number__item p:last-of-type{
  color: #262626;
  font-size: 18px;
}
.number__content{
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.number__item{
  width: 25%;
  text-align: center;
}

/* end number */

/* START feature */
.feature {
  width: 100%;
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center ;
  overflow: hidden;
  padding-top: 0;
}
.feature__content{
  display: flex;
}
.content__left{
  width: 50%;
}
.content__right{
  width:50%;
}
.feature .feature__item i{
  display: inline-block;
  font-size: 80px;
  color: #f55f8d;
}
.content-title{
  padding-top: 0;
  margin-top: 0;
}
.feature .content__item{
  display: flex;
  width: 550px;
  height: 150px;
}
.feature .feature__item h2{
  font-weight: 800;
  font-size: 1.5rem;
  transition: all 1s;
  color: #262626;
}
.feature__content .content__left .content-title{
  width: 100%;
}
.content__left .content__item h2{
  font-family: Roboto,sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #636363;
}
.feature .content__right{
  width: 50%;
}
.feature .content-title p,
.feature .content-title h1{
  animation-delay: 0s;
}

.content-right{
  position: relative;
}
.content__right img{
  position: absolute;
  max-width: 100%;
  width: 650px;
  height: 640px;
  animation: move-banner 5s infinite;
}
.content-title p:first-of-type{
  margin-top: 0;
}
.padding-right{
  padding-right: 50px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}
.padding-left{
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-bottom: 30px;
}
.text-item{
  padding-left: 25px;
}
.feature__list .text-item p{
  margin: 0;
}
.feature__list .item{
  /* display: flex; */
  margin: 0;
  width: 550px;
  height: 150px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 30px;
  
  z-index: 100;
}
.feature__list .item::after{
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;

}
.feature__list .text-item {
  z-index: 1;
  display: block;
  

}
.feature__list .item i{
  z-index: 10;
  
}
.feature__list .item:hover::after{
  opacity: 1;
}
.feature__list .item i,
.feature__list .item .text-item h2,
.feature__list .item .text-item p{
  transition: all 1s;

}
.feature__list .item .text-item h2{
  font-weight: 800;
  color: #262626;
}
.feature__list .item:hover i,
.feature__list .item:hover .text-item h2,
.feature__list .item:hover .text-item p{
  color: white;
}
.feature__list .feature__item{
  padding: 0 50px 30px 0;
  
}
.feature__list .feature__item:nth-last-of-type(2){
  padding: 0 0 30px 50px;
}

/* END feature */

/* START portfolio */
.portfolio {
  background-image: url(../img/bg17.png);
  background-position: top center;
  background-size: cover;
  text-align: center;
}
.portfolio .portfolio__content{
  width: 100%;
  text-align: center;
}
.portfolio .portfolio__content .content__list .portfolio-item{
position: relative;
 border-radius: 10px;
 overflow: hidden;
}
.portfolio .portfolio__content .content__list{
  display: grid;
  /* grid-template-columns: (3,1fr); */
  /* grid-template-rows: (3,1fr); */
  grid-template-rows: 35% 18% 25%;
  grid-template-columns: 27.5% 27.5% 40%;
  aspect-ratio: 1 / 1;
  gap: 35px;
}
.portfolio .content__list .overlay{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.377);
  z-index: 10;
}
.portfolio .overlay .overlay-search{
  position: absolute;
  top: 20px;
  right: 20px;
  transform: translate(20px,-20px);
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-size: 300%;
  border-radius: 10px;
  background: linear-gradient(to left,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  transition: all .75s;

}
.portfolio .overlay .overlay-search a{
  text-decoration: none;
  color: white;
  font-size: 42px;

}
.portfolio .overlay .overlay-title{
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: left;
  transform: translate(-20px,15px);
}

.portfolio .overlay .overlay-title p{
  color: #fff;
  opacity: .7;
}
.portfolio .overlay .overlay-title h3{
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}

.portfolio .content__list .portfolio-item:hover .overlay{
  display: block;
}
.portfolio .content__list .portfolio-item:hover .overlay .overlay-title{
  animation: overlay-title 1s forwards;
}
.portfolio .content__list .portfolio-item:hover .overlay .overlay-search{
  animation: overlay-search 1s forwards;
}
.portfolio-item::before{
  content: "";
  width: 50%;
  position: absolute;
  height: 100%;
  top: 0;
  display: block;
  background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
  transform: skewX(-25deg);
  left: -100%;
  transition: all .75s;
}
.portfolio-item:hover::before{
  left: 125%;
}
.portfolio .portfolio__content .content__list img{
  width: 100%;
  height: 100%;
}
.portfolio .portfolio__content .content__list .list__item1{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.portfolio .portfolio__content .content__list .list__item5{
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}
.portfolio .portfolio__content .content__list .list__item6{
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
.fancybox__nav button,
.fancybox__toolbar{
  color: #999999;
}
.fancybox__container img{
  width: 600px;
  height: 400px;
}
.portfolio .has-image[data-image-fit=contain] .fancybox__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
/* END portfolio */

/* START plan */
.plan {
  background-size: cover;
  background-image: url(../img/bg16.png);
  background-position: center;
  text-align: center;
}
.plan .container{
  padding-top: 0;
}
.plan .container .content-title{
  width: 100%;
  text-align: center;
}
.plan .container .plan__list img{
  width: 125px;
}
.plan .plan__list{
  padding: 15px 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.plan .plan-item{
  transition: all 0.5s;
  width: 31.5%;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all .5s;
  padding: 35px 60px ;
}
.plan .plan-item .center-img,
.plan .plan-item .center-button{
  text-align: center;
}
.plan .plan-item:hover{
  border-image: url(../img/br.png) 1 round;
}
.plan .plan__list h2{
  color: #262626;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.plan .plan__list span{
  font-size: 50px;
  font-weight: 800;
  color: #f8ae56;
}
.plan .plan__list p:first-of-type{
  color: #262626;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
border-bottom: 1px solid #e1e1f0;

}
.plan .plan__list p{
  color: #262626;
  font-size: 18px;
  padding: 5px 0;
}

.plan .plan__list p:nth-of-type(2){
padding-top: 15px;
}
.plan .plan__list .plan-item p:last-of-type{
padding-bottom: 15px;
}
.plan .plan__list p i{
  font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}







/* END PLAN */

/* START testimonial */
.testimonial {
}
.testimonial .content-title{
  width: 100%;
  text-align: center;
}
.testimonial__thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.swiper-pointer-events {
  touch-action: pan-y;
}
.testimonial__thumbs::before {
  left: 0;
  background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
}
.testimonial__thumbs::after, .testimonial__thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}
.swiper-slide-thumb-active .testimonial__pic::after, 
.swiper-slide-thumb-active .testimonial__pic::before {
  opacity: 1;
}
.section-inner {
  padding-top: 115px;
}
.testimonial__pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}
.testimonial {
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
  padding: 0 0 40px;
}
.testimonial__pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}
.testimonial__pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}

.testimonial__pic::after, .testimonial__pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial .testimonial__thumbs .testimonial__pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}
.testimonial .testimonial__thumbs .testimonial__pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.testimonial__position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}
.testimonial__text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.testimonial__name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}
.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.testimonial__comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial__name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;

}
.testimonial__content {
  min-height: 300px;
}
.testimonial__thumbs .testimonial__pic {
  padding: 30px 0 0;
  transition: all .5s;
}
.testimonial__pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}
.testimonial__text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}
.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
}
.testimonial__comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.swiper-slide-thumb-active .testimonial__pic .shape-bx {
  opacity: 1;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


/* END testimonial */

/* START blog */
.blog{
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
  background-image: url(../img/bg16.png);
}
/* ..carousel__button.is-prev:not([disabled]),
..carousel__button.is-next:not([disabled]) {
  display: block;
} */

.blog .content-title{
  width: 100%;
  text-align: center;
}
.blog .blog__item{
  background: white;
  text-align: left;
  border-radius: 8px;
  background: rgba(245,95,141,.1);
}
.blog .blog__item .blog__header img{
  border-radius: 8px;
  width: 100%;
}
#newsCarousel .carousel__slide{
  /* padding: 0; */
  width: 400px;
  padding: 0 30px 0 0;
}
.blog .carousel {
  background-image: none;
}

.blog .carousel__button.is-prev,
.blog .carousel__button.is-next{
  display: none;
}
.carousel{
  padding-top: 0px;
}
.blog .blog__item .blog__header {
  position: relative;
}

.blog .blog__item .blog__header p{
  background-size: 200%;
  background-image: linear-gradient( to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  border-radius: 6px;
  position: absolute;
  bottom: -6%;
  left: 4%;
}
.blog .blog__item .blog__body h3{
  color: #262626;
  font-size: 25px;
  font-weight: 700;
}
.blog .blog__item .blog__body {
  line-height: 1.4;
  margin-bottom: 20px;
  padding: 30px 15px 20px 15px;
}

.blog .blog__item .blog__footer{
  padding: 15px;
  border-top: 1px solid rgba(99, 99, 99, 0.05);
  display: flex;
  align-items: center;
  font-weight: 400;
  width: 100%;
}
.blog .blog__item .blog__footer i{
  width: 22px;
  height: 22px;
  line-height: 22px;
}
.blog .blog__item .blog__footer span,
.blog .blog__item .blog__footer i{
  color: #f55f8d;
}
.blog .blog__item .blog__footer p{
margin-right: 20px;
line-height: 22px;
font-size: 14px;
}

/* END blog */
/* START FOOTER */
footer{
  background: url(../img/bg4.png) no-repeat center;
  display: block;
  height: auto;
  background-color: #0e1b1f;
  background-size: contain;
  color: white;
  font-size: 15px;
  position: relative;
}
footer::before{
  background: url(../img/pattern2.png) left top no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer > .container{
  padding-top: 0px;
  position: relative;
  max-width: 1199px;
  margin: 0 auto;

}
footer .container .footer__subscribe h2{
  
  font-size: 28px;
  color: #262626;
}

footer .container .footer__subscribe,
footer .container .footer__subscribe form{
  display: flex;
}
footer .container .footer__subscribe input{
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all .5s;
  padding: 20px 20px;
}

footer .container .footer__subscribe button{
  font-size: 20px;
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  border-color: transparent;
  padding: 20px 35px;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

footer .footer__subscribe button:hover i{

animation: left-to-right .5s ;
}
footer .footer__subscribe button:hover{
  background-position: right center;
  
}

footer .footer__subscribe{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 50px 60px;
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-size: 100%;
  z-index: 100;
  animation: moveY 1.5s forwards;
}
footer .container .footer__subscribe h2,
footer .container .footer__subscribe form
  {
  width: 50%;
}
.fancybox__container {
  --fancybox-thumbs-border-radius: 50%;
  --fancybox-thumbs-ratio: 1;

  --fancybox-thumbs-width: 50px;
  --fancybox-thumbs-height: 50px;

  --fancybox-accent-color: #F472B6;}

footer .footer__content .footer__flex a{
  font-size: 16px;
  transition: all .4s;
  color: #636363;
  text-decoration: none;
}
footer .footer__content .footer__flex  i{
  font-weight: 700;
  padding-right: 20px;
}
footer .footer__content .footer__flex  a{
  width: fit-content;
  color: #636363;
  text-align: left;
  font-size: 18px;
  display: block;
  padding: 8px 0;
}
footer .footer__content .footer__flex  a:hover{
  color: white;
}
footer .footer__content .footer__flex  .fa-ul{
  margin-left: -5px;
  list-style: none;
}

footer .footer__content .footer__flex p{
  color: white;
}
footer .footer__flex  h3::before {
  width: 15px;
}

footer .footer__flex  h3::after,
footer .footer__flex  h3::before {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  content: "";
}
footer .footer__flex h3::after {
  left: 20px;
  width: 45px;
}

footer .footer__content{
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}
footer .footer__rights .content{
  display: flex;
  align-items: center;
  /* position: relative; */
  
}
footer .footer__rights .container{
  padding: 0;
}

footer .footer__content .footer__contact .link-item{
  display: flex;
  padding: 30px 40px 10px 0;
  line-height: 21px;
}

footer .footer__content .ani-hide{
  animation: hide-show 2.5s forwards;
  animation-delay: 1.5s;
  opacity: 0;
}
footer .footer__content .footer__contact img{
display: block;
}

footer .footer__content .footer__contact i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  display: -block;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
  margin-right: 10px;
}
footer .footer__content .footer__contact i::before{
  padding-left: 13px;
}

footer .footer__content h3{
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
  font-size: 24px;
}
.footer__flex{
  width: 25%;
}
footer .footer__rights a{
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255,255,255,.1);
  transition: all .5s;
  height: 32px;

}
footer .footer__rights i{
  line-height: 32px;
}

footer .footer__rights a:hover{
  background: #f55f8d;
}

footer .footer__rights{
  width: 100%;
  padding: 10px 0;
  position: relative;
  background-color: #1f343b;
  height: 52px;
}
footer .content{
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
footer > .container{
  
}
footer .footer__left{
  position: relative;
}
footer .footer__left span{
  color: #f55f8d;
}
/* BAKC-TO-TOP */
a {
  text-decoration: none;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all .2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
}

/* END FOOTER */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes overlay-title{
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0,0);
  }
}
@keyframes overlay-search {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0,0);
  }
}
@keyframes moveY{
  from{
    transform: translateY(80%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveX{
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes move-X{
  from{
    transform: translateX(-100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes move-banner{
  0%{
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
@keyframes left-to-right {
  from{
    opacity: 0;
    transform: translateX(-30px)
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes hide-show{
  from{
    opacity: 0;

  }
  to{
    opacity: 1;
  }
}



